@font-face {
    font-family: 'ReklameScript';
    font-style: normal;
    font-weight: normal;
    src: local('ReklameScript'), url('../font/ReklameScript.otf') format('truetype');
}
  
.wb-font {
    font-family: 'ReklameScript', serif !important;
    font-size: 120px !important;
} 
.wb-logo-prefix {
    color: #ffffff !important;
}  
.wb-logo-sufix {
    color: #09617e !important;
}

.pad-top-10 {
    padding-top: 20px;
}